html {
  word-break: keep-all;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(33, 85, 164);
}

th {
  background: #98c1fe85;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  margin: auto;
  width: 100%;
  border: 1px solid #3c36365e;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 5px;
}

select {
  width: 70px;
  height: 30px;
  border-radius: 3px;
}

.checkselect {
  width: 3.2rem;
  height: 1.5rem;
}

.buttons {
  margin: auto;
  text-align: center;
}

.inputnumber {
  width: 3.25rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 3px;
}

.totalnumber {
  width: 2.5rem;
  height: 1.2rem;
  text-align: center;
  border: 0px;
}

.w3-container {
  text-align: center;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

@media all and (orientation:portrait) {
  table {
    margin-left: 0;
    margin-right: 0;
  }

  .w3-container {
    margin-left: 0;
    margin-right: 0;
  }
}

.legend-icon {
  width: auto;
  height: auto;
  max-width: 1.8rem;
  max-height: 1.8rem;
}

#content-info {
  text-align: left;
}

#page-info {
  display: grid;
  grid-template-columns: 75% 25%;
}

#page-info>h2 {
  font-size: 2rem;
}

#langbox {
  text-align: right;
  justify-content: center;
  margin-top: 1rem;
}

#student_info {
  text-align: center;
}

#standard, #etc, #relsite {
  font-size: 1.1rem;
}

#mySidebar {
  overflow-y: scroll;
  font-size: 1.3rem;
  position: absolute;
  z-index: 4;
  /* Add the ability to scroll */
}

#sidebartab {
  font-size: 1.1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  position: absolute;
  z-index: 3;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#mySidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
#mySidebar {
  -ms-overflow-style: none;
}

#maintitle {
  text-align: center;
  padding-top: 0.3rem;
  padding-bottom: 0.7rem;
  border-bottom: solid 0.2rem;
  font-size: 2.7rem;
  color: white;
  margin-top: 0;
  font-family: 'Poiret One', cursive;
}

#TopBtn {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  z-index: 99;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.5rem;
  opacity: 0.3;
}

#TopBtn:hover {
  background-color: #555;
}

#information {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  color: white;
  background: #626161;
  text-align: center;
  padding-bottom: 10px;
}
