  .w3-container {
    text-align: center;
    justify-content: center;
  }

  #mySidebar {
    overflow-y: scroll;
    /* Add the ability to scroll */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  #mySidebar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE and Edge */
  #mySidebar {
    -ms-overflow-style: none;
  }

  #maintitle {
    text-align: center;
    padding-top: 0;
    padding-bottom: 1rem;
    border-bottom: solid 0.2rem;
    font-size: 3rem;
    margin-top: 0;
  }
